* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Mono", monospace;
  background: #fff no-repeat center fixed;
  background-size: cover;
  font-size: 1.5rem;
}

.title {
  font-family: "Merriweather", sans-serif;
  letter-spacing: 0.1rem;
}

.details {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.08rem;
  font-size: 0.8em;
}

.crypto.details p:first-of-type {
  margin-right: 10px;
}
.crypto.details.center p:first-of-type {
  margin-right: 20px;
}

#weather-details > p {
  text-align: start;
}

.icon-switch {
  transform: scale(1.2);
}

.icon-refresh {
  transform: rotate(-45deg);
}
