* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Mono', monospace;
  background: #f1f1f1 no-repeat center fixed;
  background-size: cover;
  font-size: 1.5rem;
}

.item > div {
  margin: 10px;
}

.item:hover {
  background-color: #00000044;
  border-radius: 10px;
}

.item.info:hover {
  background-color: #00000000;
  padding: 0;
}

.title {
  font-family: 'Merriweather', sans-serif;
  letter-spacing: 0.1rem;
}

.name-hidden-input:focus {
  opacity: 0.9;
}

.name-hidden-input::placeholder {
  font-size: 0.9em;
}

.name-hidden-input.normal::placeholder {
  color: #ffffffc4;
}

.name-hidden-input .awkward::placeholder {
  color: #f1f1f1a8;
}

.details {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.08rem;
  font-size: 0.8em;
}

.crypto.details.left {
  align-items: start;
}

.crypto.details.right {
  align-items: end;
}

#weather-details > p {
  text-align: start;
}

.icon-switch {
  transform: scale(1.2);
}

.icon-refresh {
  transform: rotate(-45deg);
}

.crypto-icon-link {
  padding: 10px;
}

.crypto-icon-link:hover {
  background-color: rgba(43, 43, 43, 0.6);
  border-radius: 100%;
}

.unsplash-link {
  text-decoration: none;
}

.unsplash-link:hover {
  text-decoration: underline;
}

.unsplash-link__image {
  opacity: 0.8;
}

.unsplash-link__image:hover {
  opacity: 1;
}

.unsplash-saved-cue {
  z-index: -1;
  position: absolute;
  transform: translateY(-100%);
  animation: saved 2s ease-out forwards;
}

@media (max-height: 720px) and (max-width: 700px) {
  .item > div {
    margin: 0;
  }
}

@media (max-height: 650px) {
  .item.center:hover {
    padding: 0;
  }
}

@media (max-width: 960px) {
  .item > div {
    overflow: hidden;
  }
  .name-hidden-input {
    outline: none;
  }
}

@keyframes saved {
  from {
    transform: translateY(-125%);
    opacity: 1;
  }
  to {
    transform: translateY(-325%);
    opacity: 0;
  }
}
