* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Mono', monospace;
  background: #f1f1f1 no-repeat center fixed;
  background-size: cover;
  font-size: 1.5rem;
}

.item > div {
  margin: 10px;
  overflow: hidden
}

.title {
  overflow: visible
}

/* .item.center > div {
  overflow: scroll;
} */

.item > #date-container {
  margin: 0;
  overflow: visible;
}

.item:hover {
  background-color: #00000044;
  border-radius: 10px;
}

.item.info:hover {
  background-color: #00000000;
  padding: 0;
}

/* .item.info.center {
  overflow: hidden
} */

.title {
  font-family: 'Merriweather', sans-serif;
  letter-spacing: 0.1rem;
}

input:focus {
  border: 1px solid;
  opacity: 0.9;
  writing-mode: vertical-rl;
  text-orientation: sideways;
}

input::placeholder {
  font-size: 0.9em;
  color: #f1f1f1a8;
}

.details {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.08rem;
  font-size: 0.8em;
}

.crypto.details.left {
  align-items: start;
}

.crypto.details.right {
  align-items: end;
}

#weather-details > p {
  text-align: start;
}

.icon-switch {
  transform: scale(1.2);
}

.icon-refresh {
  transform: rotate(-45deg);
}

.crypto-icon-link {
  padding: 10px
}

.crypto-icon-link:hover {
  background-color: rgba(43, 43, 43, 0.6);
  border-radius: 100%;
}


@media (max-height: 650px) {
  .item.center:hover {
    padding: 0;
  }
}